{% extends 'ownerbase.html' %}
{% load static %}
{% block owner %}
<div class="container mt-5">
    <div class="card shadow-lg p-4 rounded">
        <h2 class="mb-4 text-center text-primary">Add New Property</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" required>
            </div>
            <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" rows="4" required></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="price">Price</label>
                <input type="text" class="form-control" name="price" required>
            </div>
            <div class="form-group mb-3">
                <label for="location">Location</label>
                <input type="text" class="form-control" name="location" required>
            </div>
            <div class="form-group mb-3">
                <label for="image">Main Image</label>
                <input type="file" class="form-control" name="images" required>
            </div>
          
            <button type="submit" class="btn btn-primary w-100">Submit Property</button>
        </form>
    </div>
</div>
{% endblock %}
